SECRET_KEY=dev-secret-key-change-in-production
DATABASE_URI=sqlite:///data/poputka.db
MOCK_2GIS=true
TWOGIS_API_KEY=
MOCK_EMAIL=true
RUSENDER_API_KEY=
OPENAI_API_KEY=
# Если True, регистрация разрешена с любым email (без проверки @stud.urfu.ru)
ALLOW_ANY_EMAIL=true
